%h1 Info

.bg-light
  .container
    .row.dev
      .card.mt-1{style: "width: 70rem;"}
        .card-body
          %h3.card-title Development
          %p.card-text
            = "Ruby-Version: #{`ruby -v`}"
            %br
            = "Rails-Version: #{Rails.version}"
    .row.env
      .card.mt-2{style: "width: 70rem;"}
        .card-body
          %h3.card-title ENV
          %p.card-text= debug ENV.to_h.to_yaml
    .row.functions
      .card.mt-2{style: "width: 70rem;"}
        .card-body
          %h5.card-title Execption Testing
          = link_to "Raise rails exception", trigger_exception_admin_info_path, data: { turbo_method: "post" }, class: "card-link btn btn-danger"

          = link_to "Raise js exception", "#", class: "card-link btn btn-danger raise-js-exception"
%br
= back_button root_path

:javascript
  document.addEventListener("turbo:load", function() {
    document.querySelector('.raise-js-exception').addEventListener('click', function(e) {
      e.preventDefault();
      alert('My js error message')
      throw new Error('My js error message');
    });
  });
```
