- if episode
  .row
    .col-md-12
      .episode-header.bg-dark.text-white.text-center
        %h2.header.text-white.font-weight-light.display-4
          = episode.title
      .site-section.bg-light
        .container-fluid
          - size = 600
          = image_tag(episode.artwork_url(size: size+5), class: "rounded mx-auto img-thumbnail img-fluid d-block", size: "#{size}x#{size}", alt: "episode artwork")

  .row.bg-light
    .col-md-10.mx-auto
      .player
        -#= render "shared/webplayer", webplayer_config: PodigeeWebplayerConfigBuilder.new(episode, title: true).to_json
        = render "shared/podlove_player", episode: episode
