.search-result.mb-3.p-3.bg-white.border.rounded
  %h5.mb-1
    = link_to episode.title, episode.episonde_url
  %small.text-muted
    = "#{t("episodes.search.episode")} #{episode.number}"
    &#183;
    = episode.published_on
  %p.mb-0.mt-1.text-truncate
    = truncate(strip_tags(episode.description), length: 200)
