.site-section.bg-light
  .container
    .row
      .col-md-12.text-center
        = render "shared/subscribe_buttons"
-# **************************
-# background logo
-# **************************
.welcome-hero
  .container
    .row.justify-content-center
      .col-md-8.text-center
        = image_tag("hp-bg-logo-neu.jpg", class: "welcome-hero__logo img-fluid", alt: "Podi Logo")
    .row.justify-content-center
      .col-md-8
        = render "shared/episode_inline", episode: @last_episode
-# **************************
-#  episodes
-# **************************

.site-section.bg-light
  .container
    .row.mb-3
    - if @episodes.present?
      #last-episodes
        .row.mb-3
          .col-md-12.text-center
            %h2.fw-bold.text-black Letzte Episoden

        - @episodes.each do |episode|
          .row
            .col-md-12
              = render "shared/episode", episode: episode

      .container
        .row
          .col.text-center.mb-2
            = link_to(episodes_path, class: "btn btn-secondary rounded-pill") do
              Alle Episoden
