.bg-ligh

  %h1 Episodes
  %table.table.table-striped.table-bordered
    %thead.thead-dark
      %tr
        %th Published
        %th Visible
        %th RSS-Feed
        %th Epsiode
        %th Cover
        %th Title
        %th Size
        %th Duration
        %th Filename
        %th Downloads
        %th Published on
        %th
        %th
    %tbody
      - @episodes.each do |episode|
        %tr{id: "episode-#{episode.id}", class: "text-nowrap #{'inactive' if !episode.published?}"}
          %td= show_boolean_value episode.published?
          %td= episode.visible? ? "Yes" : "No"
          %td= episode.rss_feed? ? "Yes" : "No"
          %td= episode.number
          %td= image_tag(episode.artwork_url(size: 50), size: "50x50")
          %td= link_to truncate(episode.title), episode_path(episode)
          %td= episode.audio_size_formatted
          %td= episode.duration_formatted
          %td= episode.audio_filename_formatted
          %td
            = episode.downloads_count
            - [ { counter: :a1d, title: "Last 24h", class: "success"},
                { counter: :a3d, title: "Last 3 days", class: "primary"},
                { counter: :a7d, title: "Last 7 days", class: "info"},
                { counter: :a30d, title: "Last 30 days", class: "light"} ].each do |counter|

              - if episode.episode_current_statistic&.send(counter[:counter]).to_i > 0
                %span
                  .badge.badge-pill{class: "badge-#{counter[:class]}","data-toggle" => "tooltip", "data-placement"=>"top", "title"=>counter[:title]}
                    = link_to episode.episode_current_statistic&.send(counter[:counter]).to_i, admin_events_path(episode_id: episode.id, counter: counter[:counter])

          %td= episode.published_on
          %td= edit_button edit_admin_episode_path(episode)
          %td= show_button episode_path(episode)
  %br
  = add_button  new_admin_episode_path
